<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand clickable" (click)="onSelectedProducts()">Ecom</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a class="clickable" (click)="onSelectedProducts()">Home</a></li>
        <li [ngClass]="currentCategory==c? 'active':''" class="clickable" (click)="getProductByCat(c)" *ngFor="let c of categories._embedded.categories"><a class="clickable">{{c.name}}</a></li>
        
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div class="col-md-3">
     
    </div>
  
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>


</html>

