<div class="list-group" *ngIf="products">
  <div class="list-group-item" *ngFor="let p of products._embedded.products">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel heading">{{p.name}}</div>
      </div>
    </div>

    <table>
      <tr>
        <td>
          <img height="100" src="{{this.catalogueService.host+'/photoProduct'+p.id}}">
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
